.blogs {
  margin: 10rem 0;
  .container {
    flex-direction: column;
    > h1 {
      font-size: 3rem;
      text-align: center;
      border-bottom: 2px solid black;
      padding: 1rem 0;
    }
    .blogs_container {
      margin-top: 5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      flex-wrap: wrap;
      .blog {
        padding: 25px;
        width: 350px;
        text-align: center;
        background-color: #eee;

        img {
          width: 100%;
          background-color: white;
          margin-bottom: 25px;
        }

        button {
          padding: 5px 20px;
          margin-top: 15px;
          a {
            font-size: 22px;
          }
        }
      }
    }
    button {
      margin-top: 2rem;
      a {
        font-size: 2rem;
      }
    }
  }
}
